[Desktop Entry]
Name[en_US]=
Version=1.0
Encoding=UTF-8
GenericName=
Exec=
Icon=/home/yadbash/sparkypb/images/yadbash-logo1.jpg
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System
