[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=
GenericName=
Exec=
Icon=/opt/yadbash/powerball/images/sparky-pb-800-banner-icon.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

