[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=01
GenericName=01
Exec=
Icon=/home/yadbash/sparkypb/images/balls/01.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

