[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=04
GenericName=04
Exec=
Icon=/home/yadbash/sparkypb/images/balls/04.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

