[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=05
GenericName=05
Exec=
Icon=/opt/yadbash/powerball/images/balls/05.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

