[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=07
GenericName=07
Exec=
Icon=/opt/yadbash/powerball/images/balls/07.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

