[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=08
GenericName=08
Exec=
Icon=/opt/yadbash/powerball/images/balls/08.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

