[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=09
GenericName=09
Exec=
Icon=/opt/yadbash/powerball/images/balls/09.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

