[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=10
GenericName=10
Exec=
Icon=/home/yadbash/sparkypb/images/balls/10.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

