[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=14
GenericName=14
Exec=
Icon=/opt/yadbash/powerball/images/balls/14.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

