[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=16
GenericName=16
Exec=
Icon=/opt/yadbash/powerball/images/balls/16.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

