[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=17
GenericName=17
Exec=
Icon=/opt/yadbash/powerball/images/balls/17.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

