[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=18
GenericName=18
Exec=
Icon=/home/yadbash/sparkypb/images/balls/18.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

