[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=21
GenericName=21
Exec=
Icon=/home/yadbash/sparkypb/images/balls/21.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

