[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=22
GenericName=22
Exec=
Icon=/opt/yadbash/powerball/images/balls/22.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

