[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=23
GenericName=23
Exec=
Icon=/opt/yadbash/powerball/images/balls/23.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

