[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=24
GenericName=24
Exec=
Icon=/home/yadbash/sparkypb/images/balls/24.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

