[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=27
GenericName=27
Exec=
Icon=/opt/yadbash/powerball/images/balls/27.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

