[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=28
GenericName=28
Exec=
Icon=/home/yadbash/sparkypb/images/balls/28.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

