[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=28
GenericName=28
Exec=
Icon=/opt/yadbash/powerball/images/balls/28.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

