[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=32
GenericName=32
Exec=
Icon=/opt/yadbash/powerball/images/balls/32.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

