[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=35
GenericName=35
Exec=
Icon=/home/yadbash/sparkypb/images/balls/35.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

