[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=38
GenericName=38
Exec=
Icon=/home/yadbash/sparkypb/images/balls/38.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

