[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=40
GenericName=40
Exec=
Icon=/opt/yadbash/powerball/images/balls/40.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

