[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=41
GenericName=41
Exec=
Icon=/opt/yadbash/powerball/images/balls/41.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

