[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=43
GenericName=43
Exec=
Icon=/opt/yadbash/powerball/images/balls/43.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

