[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=44
GenericName=44
Exec=
Icon=/home/yadbash/sparkypb/images/balls/44.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

