[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=45
GenericName=45
Exec=
Icon=/home/yadbash/sparkypb/images/balls/45.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

