[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=46
GenericName=46
Exec=
Icon=/opt/yadbash/powerball/images/balls/46.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

