[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=47
GenericName=47
Exec=
Icon=/opt/yadbash/powerball/images/balls/47.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

