[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=48
GenericName=48
Exec=
Icon=/opt/yadbash/powerball/images/balls/48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

