[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=50
GenericName=50
Exec=
Icon=/home/yadbash/sparkypb/images/balls/50.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

