[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=52
GenericName=52
Exec=
Icon=/opt/yadbash/powerball/images/balls/52.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

