[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=54
GenericName=54
Exec=
Icon=/home/yadbash/sparkypb/images/balls/54.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

