[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=56
GenericName=56
Exec=
Icon=/home/yadbash/sparkypb/images/balls/56.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

