[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=57
GenericName=57
Exec=
Icon=/home/yadbash/sparkypb/images/balls/57.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

