[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=58
GenericName=58
Exec=
Icon=/opt/yadbash/powerball/images/balls/58.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

