[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=60
GenericName=60
Exec=
Icon=/home/yadbash/sparkypb/images/balls/60.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

