[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=61
GenericName=61
Exec=
Icon=/home/yadbash/sparkypb/images/balls/61.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

