[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=62
GenericName=62
Exec=
Icon=/opt/yadbash/powerball/images/balls/62.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

