[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=63
GenericName=63
Exec=
Icon=/opt/yadbash/powerball/images/balls/63.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

