[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=64
GenericName=64
Exec=
Icon=/home/yadbash/sparkypb/images/balls/64.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

