[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=67
GenericName=67
Exec=
Icon=/opt/yadbash/powerball/images/balls/67.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

