[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=68
GenericName=68
Exec=
Icon=/home/yadbash/sparkypb/images/balls/68.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

