[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB01
GenericName=PB01
Exec=
Icon=/home/yadbash/sparkypb/images/balls/pb01.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

