[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB03
GenericName=PB03
Exec=
Icon=/home/yadbash/sparkypb/images/balls/pb03.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

