[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB04
GenericName=PB04
Exec=
Icon=/home/yadbash/sparkypb/images/balls/pb04.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

