[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB06
GenericName=PB06
Exec=
Icon=/home/yadbash/sparkypb/images/balls/pb06.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

