[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB07
GenericName=PB07
Exec=
Icon=/home/yadbash/sparkypb/images/balls/pb07.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

