[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB08
GenericName=PB08
Exec=
Icon=/opt/yadbash/powerball/images/balls/pb08.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

