[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB10
GenericName=PB10
Exec=
Icon=/opt/yadbash/powerball/images/balls/pb10.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

