[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB11
GenericName=PB11
Exec=
Icon=/home/yadbash/sparkypb/images/balls/pb11.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

