[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB13
GenericName=PB13
Exec=
Icon=/home/yadbash/sparkypb/images/balls/pb13.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

