[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB14
GenericName=PB14
Exec=
Icon=/home/yadbash/sparkypb/images/balls/pb14.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

