[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB15
GenericName=PB15
Exec=
Icon=/home/yadbash/sparkypb/images/balls/pb15.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

