[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB16
GenericName=PB16
Exec=
Icon=/opt/yadbash/powerball/images/balls/pb16.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

