[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB17
GenericName=PB17
Exec=
Icon=/opt/yadbash/powerball/images/balls/pb17.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

