[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB18
GenericName=PB18
Exec=
Icon=/opt/yadbash/powerball/images/balls/pb18.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

