[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB20
GenericName=PB20
Exec=
Icon=/home/yadbash/sparkypb/images/balls/pb20.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

