[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB21
GenericName=PB21
Exec=
Icon=/home/yadbash/sparkypb/images/balls/pb21.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

