[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB24
GenericName=PB24
Exec=
Icon=/home/yadbash/sparkypb/images/balls/pb24.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

