[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PB25
GenericName=PB25
Exec=
Icon=/opt/yadbash/powerball/images/balls/pb25.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

